<section class="top">
<h3 class="top-head">ようこそ <strong>Bookers</strong> へ！</h3>
<P class="top-text"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</P>
<p class="top-text">印象を共有し交換することができます</P>

<a class="top-text" href="/posts">Start</a>
</section>

